label > input { /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}

label > input + img { /* IMAGE STYLES */
    cursor: pointer;
    border: 2px solid transparent;
    width: 200px !important;
}

label > input:checked + img { /* (RADIO CHECKED) IMAGE STYLES */
    border: 2px solid #000;
}

.face{
    max-width: 320px;
    max-height: 240px;
}