{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <img src="{{ image_source }}" alt="" class="face-result">
        </div>
    </div>
    <hr>
    <div class="row">
        <form method="POST" action="" enctype="multipart/form-data">
            <fieldset id="group1">
                {% for glass in glasses %}
                <label>
                    <input type="radio" name="glass" value="{{glass['pk']}}"/>
                    <img src="{{url_for('static', filename='img/glasses/' + glass['pk'] + '.png')}}" alt="">
                </label>
                {% endfor%}
                <input type=submit value=Apply class="btn btn-primary">
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}

